*{
  padding: 0;
  margin: 0;
}

.container {
  width: 350px;
  height: 180px;
  border: 1px solid rgb(195, 206, 45);
  border-radius: 4%;
  background-color: rgb(59, 197, 55);
  color:black;
  box-shadow: 1px 10px 10px 5px green;
}

#Fathers {
  width: 350px;
  height: 180px;
  border: 1px solid rgb(204, 218, 12);
  border-radius: 4%;
  background-color: rgb(10, 117, 6);
  color:black;
  box-shadow: 1px 10px 10px 5px green;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Father{
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  color:rgb(14, 13, 13);
  font-size: 35px;
  padding: 1rem;
}


.text {
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

#box {
  color:rgb(30, 88, 4);
  font-size: 35px;

}
#contador {
  color:rgb(3, 77, 25);
  font-size: 30px;
}

#Diferencia {
  color:rgb(1, 71, 16);
  font-size: 25px;
}
